.NotFound {
  position: relative;
  height: fit-content;
  width: fit-content;
  box-shadow: 0px 0px 30px 90px rgb(44, 142, 179);
}

.greeting {
  position: absolute;
  font-size: 3rem;
  top: 5rem;
  left: 10%;
  color: white;
  text-shadow: 0px 0px 5px pink;
}

.homelink {
  position: absolute;
  font-size: 2rem;
  bottom: 5rem;
  right: 10%;
  color: white;
  text-shadow: 0px 0px 1.5apx pink;
}