.main {
  animation: sliceFade 3s;
}

@keyframes sliceFade {
  0% {
    filter: opacity(0);
  }

  100% {
    filter: opacity(1);
  }
}

.pieContainer {
  width: 100%;
  height: 100vh;
}

.palomaStamp {
  height: auto;
  width: 40%;
  margin: auto;
  animation: pieStamp 3s;
}

@keyframes pieStamp {
  0% {
    filter: opacity(1);
  }

  50% {
    filter: opacity(1);
  }

  100% {
    filter: opacity(0);
  }
}

.hidden {
  display: none;
}