@import '../../scss/variables.scss';

.ClosedForBusiness {
  text-align: center;
  font-family: $mainFont;
  color: white;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2vw;
  background: radial-gradient(ellipse at top, rgb(86, 109, 185), transparent),
            radial-gradient(ellipse at bottom, $hotPink, transparent);
}

.ohHi {
  font-size: calc(100% + 9vw);
}

.p {
  font-size: calc(100% + .75vw);
}