@import '../../scss/variables.scss';

.Pie {
  margin: 1rem;
  position: relative;
}

.piePic {
  height: 30vw;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.767);
  max-width: 100%;
  z-index: 50;
}
  
.pieDetail {
  opacity: 0;
  position: absolute;
  top: 0px;
  height: 30vw;
  transition: all .7s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.film {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  background-color: rgba(253, 253, 253, 0.315);
  z-index: 100;
}

.pieTitle {
  position: absolute;
  padding: .6rem;
  font-family: $mainFont;
  font-size: calc(100% + 1rem);
  color: $hotPink;
  text-shadow: .24px .24px 1px  rgba(129, 96, 102, 0.822);
  background: rgba(255, 255, 255, 0.719);
  border-radius: 1rem;
  z-index: 200;
}

.pieTitleLeft {
  @extend .pieTitle;
  bottom: -8px;
  left: 0;
  filter: drop-shadow(5px -5px 8px rgba(255, 192, 203, 0.822));
}

.pieTitleRight {
  @extend .pieTitle;
  top: 0;
  right: 0;
  filter: drop-shadow(-5px 5px 8px rgba(255, 192, 203, 0.822));
}

.description {
  position: absolute;
  font-family: $mainFont;
  font-style: italic;
  font-size: calc(100% + 1vw);
  margin: 1rem;
  color: white;
  text-shadow: .24px .24px 1px  rgba(129, 96, 102, 0.822);
  filter: drop-shadow(0px 0px 5px black);
  z-index: 200;
  text-align: center;
}

.descRight {
  @extend .description;
  top: 0px;
  right: 0px;
}

.descLeft {
  @extend .description;
  left: 0px;
  bottom: 0px;
}

@media all and (max-width: 450px) {
  .piePic {
    height: auto;
    max-width: 100%;
  }

  .pieTitle {
    font-size: 1.5rem;
  }

  .pieDetail {
    height: auto;
  }
}