@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');
@import url('https://use.typekit.net/vfe4bny.css');

/*===============================================
  Fonts
===============================================*/

$mainFont: 'Averia Serif Libre', serif;
$neon: ht-neon, sans-serif;

/*===============================================
  Colors
===============================================*/

$hotPink: rgb(251, 133, 216);
$champagne: rgba(255, 223, 116, 0.986);